{
  "token": "xxxxxxxxxxxxxxxxxxxxxx",
  "color": "#61CB2B",
  "footerText": "Developed By: BankkRoll",
  "footerIcon": "https://i.ibb.co/Bqs3jh7/6302741.png",
  "twitch": {
    "clientId": "your_twitch_client_id",
    "clientSecret": "your_twitch_client_secret"
  }
}
